@use '../../styles/main.scss' as *;

.start-button {
  box-shadow: shadow('level-1');
  border-radius: radius('md');
  padding: btn-padding('md');
  background-color: $bg;

  @include respond-to('tablet') {
    background-color: $on-primary;
  }

  @include respond-to('mobile') {
    background-color: $teriary;
  }

  color: $like;
  font-family: $font-family-primary;
  border: 2px solid $on-primary;
}
