@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

body {
  min-width: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: $bg;
  color: $on-primary;
  font-family: $font-family-primary;
  font-size: font-sizes('body-md');
  line-height: 1.5;
}

button,
input,
textarea,
select {
  color: inherit;
}

button {
  border: 0;
  background: none;
}
